* {
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    font-family: 'nunito-regular', sans-serif;
}

.frame {
    position: absolute;
    width: 100vw;
    height: 100vh;
    /* background-color: royalblue; */
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img_box{
    width: 300px;
    height: 300px;
    margin-bottom: 5%;
    border: 1px outset white;
}
.img_box img {
    width: 100%;
    height: 100%;
}

.desc_box {
    width: 80%;
    height: 150px;
    border: 1px solid white;
}